<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyNZBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="http://example.com/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/ee37bdf1c7.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">My Phu Nguyen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse form-inline my-2 my-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-route-tagSection="job">Chuyện nghề nghiệp<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-route-tagSection="no-job">Chuyện linh tinh<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-action="About">About me<span class="sr-only">(current)</span></a>``
                </li>
            </ul>
        </div>
    </nav>

    <main id="main-doc">
        @RenderBody()
    </main>

    <footer class="main-footer">
        <h2>Contact</h2>
        <hr class="primaryHr">
        <section class="row">
            <div class="col-sm-3">
                <i class="fas fa-mobile-alt fa-2x"></i>
                <p class="p-footer">(+64)212135734</p>
            </div>
            <div class="col-sm-3">
                <i class="fas fa-envelope-square fa-2x"></i>
                <p><a href="mailto:nphumy89@gmail.com">nphumy98@gmail.com</a></p>
            </div>
            <div class="col-sm-3">
                <i class="fab fa-linkedin fa-2x"></i>
                <p class="p-footer"><a href="https://www.linkedin.com/in/my-phu-nguyen-43a25365/">Linkedin</a></p>
            </div>
            <div class="col-sm-3">
                <i class="fab fa-github fa-2x"></i>
                <p class="p-footer"><a href="https://github.com/nphumy98?tab=repositories">Github</a></p>
            </div>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
