html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

li.nav-item {
    padding-left: 30px;
    display: flex;
    align-items: center;
}

hr.primaryHr {
    width: 5%;
    color: red;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#main-doc {
    margin-top: 100px;
    flex: 1 0 auto;
    /*background: blue;*/
}

.content {
    margin-bottom: 100px;
}

.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50%;
}

.post {
    margin: 50px;
}

.main-footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px;
}

.p-footer {
    margin: 0px;
}
